<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.buffalo.cse.cse486_586.simpledynamo"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	
	<application
		android:name="edu.buffalo.cse.cse486_586.simpledynamo.SimpleDynamoApp"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name" >
		<activity
			android:name=".SimpleDynamoActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="us.forkloop.sockettalk.RECV" />
			</intent-filter>
		</activity>
		
		<service
			android:name=".ListenService" >
		</service>
		
		<service
			android:name=".SendService" >
		</service>
		
		<service
			android:name=".TestOne" >
		</service>
		
		<service
			android:name=".TestTwo" >
		</service>
		
		<provider
			android:name=".DynamoProvider" 
			android:authorities="edu.buffalo.cse.cse486_586.simpledynamo.provider" >
		</provider>
		
	</application>

</manifest>